In [1]:
import pandas as pd

In [4]:
# Load the CSV files
df1 = pd.read_csv('../Data/2023.08.city_bike.csv')
df2 = pd.read_csv('../Data/2024.08.city_bike.csv')

In [5]:
print(df1.head())
print(df2.head())

            ride_id rideable_type           started_at             ended_at  \
0  E2E964A161F786AB  classic_bike  2023-08-07 19:37:47  2023-08-07 19:41:14
1  0660F2E48E3BB87F  classic_bike  2023-08-01 13:16:22  2023-08-01 13:26:02
2  940FC7C675232897  classic_bike  2023-08-15 17:28:23  2023-08-15 17:50:35
3  E967660CC5CD585B  classic_bike  2023-08-01 12:44:24  2023-08-01 12:49:45
4  D997CB0B855FE2D6  classic_bike  2023-08-08 12:31:16  2023-08-08 12:40:18

           start_station_name start_station_id  \
0             6 St & Grand St            HB302
1             6 St & Grand St            HB302
2            Heights Elevator            JC059
3  Hoboken Ave at Monmouth St            JC105
4  Hoboken Ave at Monmouth St            JC105

                          end_station_name end_station_id  start_lat  \
0                       Madison St & 10 St          HB503  40.744398
1                          6 St & Grand St          HB302  40.744398
2                         Heights Elevator          JC059  40.748721
3  Hoboken Terminal - River St & Hudson Pl          HB102  40.735279
4  Hoboken Terminal - River St & Hudson Pl          HB102  40.735208

   start_lng    end_lat    end_lng member_casual
0 -74.034501  40.749943 -74.035865        member
1 -74.034501  40.744398 -74.034501        member
2 -74.040480  40.748716 -74.040443        member
3 -74.046830  40.736068 -74.029127        member
4 -74.046964  40.736068 -74.029127        member
            ride_id  rideable_type               started_at  \
0  17AE31FCAE74D287  electric_bike  2024-08-07 13:22:55.656
1  FD9859BDBE0CDF70  electric_bike  2024-08-13 13:15:08.627
2  AAC5ECD095AE5572  electric_bike  2024-08-12 20:07:26.975
3  857C4DCB2F29655B  electric_bike  2024-08-09 13:43:18.882
4  4439657C244E7009   classic_bike  2024-08-01 10:29:40.174

                  ended_at      start_station_name start_station_id  \
0  2024-08-07 13:25:09.654        7 St & Monroe St            HB304
1  2024-08-13 13:17:44.971        7 St & Monroe St            HB304
2  2024-08-12 20:09:38.180        7 St & Monroe St            HB304
3  2024-08-09 13:45:38.226        7 St & Monroe St            HB304
4  2024-08-01 10:32:56.874  Clinton St & Newark St            HB409

  end_station_name end_station_id  start_lat  start_lng    end_lat    end_lng  \
0  4 St & Grand St          HB301  40.746413 -74.037977  40.742258 -74.035111
1  4 St & Grand St          HB301  40.746413 -74.037977  40.742258 -74.035111
2  4 St & Grand St          HB301  40.746413 -74.037977  40.742258 -74.035111
3  4 St & Grand St          HB301  40.746413 -74.037977  40.742258 -74.035111
4  4 St & Grand St          HB301  40.737430 -74.035710  40.742258 -74.035111

  member_casual
0        member
1        member
2        member
3        member
4        member

In [6]:
print(df1.isnull().sum())
print(df2.isnull().sum())

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      326
end_station_id        326
start_lat               0
start_lng               0
end_lat               120
end_lng               120
member_casual           0
dtype: int64
ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      371
end_station_id        389
start_lat               0
start_lng               0
end_lat                37
end_lng                37
member_casual           0
dtype: int64

In [7]:
# Check for duplicates in df1
num_duplicates_df1 = df1.duplicated().sum()
print(f'Total duplicates in 2023 DataFrame: {num_duplicates_df1}')

Total duplicates in 2023 DataFrame: 0

In [8]:
# Check for duplicate rows in df1
duplicate_rows_df1 = df1[df1.duplicated()]
print("Duplicate rows in 2023 DataFrame:")
print(duplicate_rows_df1)

Duplicate rows in 2023 DataFrame:
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [9]:
# Check for duplicates in df2
num_duplicates_df2 = df2.duplicated().sum()
print(f'Total duplicates in 2024 DataFrame: {num_duplicates_df2}')

Total duplicates in 2024 DataFrame: 0

In [10]:
# Check for duplicate rows in df2
duplicate_rows_df2 = df2[df2.duplicated()]
print("Duplicate rows in 2024 DataFrame:")
print(duplicate_rows_df2)

Duplicate rows in 2024 DataFrame:
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [11]:
# Check for null values in df1
null_counts_df1 = df1.isnull().sum()
print("Null values in 2023 DataFrame:")
print(null_counts_df1)

# Check for null values in df2
null_counts_df2 = df2.isnull().sum()
print("Null values in 2024 DataFrame:")
print(null_counts_df2)

Null values in 2023 DataFrame:
ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      326
end_station_id        326
start_lat               0
start_lng               0
end_lat               120
end_lng               120
member_casual           0
dtype: int64
Null values in 2024 DataFrame:
ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      371
end_station_id        389
start_lat               0
start_lng               0
end_lat                37
end_lng                37
member_casual           0
dtype: int64

In [17]:
unique_start_stations_df1 = df1['start_station_name'].nunique()
print("Unique start station names in 2023 DataFrame:")
print(unique_start_stations_df1)

Unique start station names in 2023 DataFrame:
112

In [18]:
# Check unique start station names in df2 (2024 DataFrame)
unique_start_stations_df2 = df2['start_station_name'].nunique()
print("Unique start station names in 2024 DataFrame:")
print(unique_start_stations_df2)

Unique start station names in 2024 DataFrame:
83

In [26]:
unique_end_stations_df1 = df1['end_station_name'].nunique()
print("Unique end station names in 2023 DataFrame:")
print(unique_end_stations_df1)

Unique end station names in 2023 DataFrame:
197

In [27]:
# Fill missing values with a constant value
df1_filled = df1.fillna({'end_station_name': 'Unknown', 'end_station_id': 'Unknown'})
df2_filled = df2.fillna({'end_station_name': 'Unknown', 'end_station_id': 'Unknown'})

In [28]:
# Check for remaining null values in df1
remaining_nulls_df1 = df1.isnull().sum()
print("Remaining null values in df1 (2023):")
print(remaining_nulls_df1)

# Check for remaining null values in df2
remaining_nulls_df2 = df2.isnull().sum()
print("Remaining null values in df2 (2024):")
print(remaining_nulls_df2)

Remaining null values in df1 (2023):
ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      326
end_station_id        326
start_lat               0
start_lng               0
end_lat               120
end_lng               120
member_casual           0
dtype: int64
Remaining null values in df2 (2024):
ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      371
end_station_id        389
start_lat               0
start_lng               0
end_lat                37
end_lng                37
member_casual           0
dtype: int64

In [30]:
# Fill null values in end_station_name and end_station_id with "Unknown"
df1['end_station_name'].fillna('Unknown', inplace=True)
df1['end_station_id'].fillna('Unknown', inplace=True)

df2['end_station_name'].fillna('Unknown', inplace=True)
df2['end_station_id'].fillna('Unknown', inplace=True)

/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/80780364.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['end_station_name'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/80780364.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['end_station_id'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/80780364.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['end_station_name'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/80780364.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['end_station_id'].fillna('Unknown', inplace=True)

In [32]:
# Check unique values after filling in df1
print("Unique values in end_station_name after filling (df1):")
print(df1['end_station_name'].nunique())

print("Unique values in end_station_id after filling (df1):")
print(df1['end_station_id'].nunique())

# Check unique values after filling in df2
print("Unique values in end_station_name after filling (df2):")
print(df2['end_station_name'].nunique())

print("Unique values in end_station_id after filling (df2):")
print(df2['end_station_id'].unique())

Unique values in end_station_name after filling (df1):
198
Unique values in end_station_id after filling (df1):
198
Unique values in end_station_name after filling (df2):
201
Unique values in end_station_id after filling (df2):
['HB301' 'JC075' 'HB409' 'HB408' 'JC078' 'JC080' 'HB203' 'JC027' 'HB303'
 'JC109' 'JC093' 'HB105' 'JC057' 'JC116' 'JC082' 'HB603' 'HB502' 'HB611'
 'JC099' 'JC076' 'JC022' 'Unknown' '6197.08' 'JC081' '4953.04' 'HB601'
 'JC072' 'JC110' 'JC103' '5687.11' 'JC102' '7230.10' '7183.03' 'JC094'
 '6233.04' '5430.08' 'JC104' 'JC002' 'JC107' '6611.07' '6425.04' '4596.09'
 'HB505' '5329.03' '5644.05' 'JC034' 'HB401' 'HB404' 'HB608' '5105.01'
 '6432.10' '5880.02' 'JC051' '5550.05' '5602.06' '6830.02' 'JC032' 'JC098'
 'HB305' 'HB101' '4298.05' 'JC008' '6602.03' '6450.05' '6230.02' '6535.04'
 '8358.03' 'JC105' 'JC006' '5297.02' '5430.10' '6373.07' 'JC052' '6740.01'
 '5470.12' '4677.01' '5105.09' '5679.08' '5207.01' '5145.02' '5626.13'
 'JC009' '5492.05' '5653.12' 'HB102' 'HB506' 'JC020' 'JC065' '6432.11'
 '5532.01' '5351.07' '5509.02' 'JC074' 'HB407' 'JC035' 'JC055' 'JC077'
 '5712.12' '4748.07' 'HB501' 'HB402' 'JC014' 'HB103' 'HB304' '5696.03'
 'JC018' '5059.02' 'JC053' '5359.11' 'HB602' '6765.01' 'HB201' 'HB609'
 '6072.11' '5184.08' '6364.07' 'JC038' 'JC003' '5593.04' '6190.08'
 '5561.04' '7207.08' '5216.06' '5905.12' '6667.04' '5730.08' '5114.06'
 '5391.06' '6626.11' '5033.01' 'HB302' '5175.08' 'JC059' '4993.15' 'HB202'
 'JC115' 'JC097' 'JC013' '5288.09' '5558.04' '7393.09' '6551.02' '6551.11'
 'JC066' '5343.11' '5636.11' '5065.12' '6617.02' 'JC084' '5578.02' 'HB503'
 'HB610' 'JC108' '5303.08' 'JC095' '5368.03' '7260.09' '6809.07' '4354.07'
 '6578.01' '3180.02' '5763.03' '6459.07' '5379.09' '6676.02' '6747.07'
 '6569.08' '6779.04' '5024.10' '5422.04' '5779.08' '5772.05' '5922.08'
 '7344.05' '7149.05' '6492.04' 'JC023' 'JC024' '6398.06' '5159.07'
 '6474.11' '5400.05' '5458.02' '6920.05' '5359.13' '7161.08' '4060.09'
 '5470.10' '6039.06' 'JC019' '6148.02' 'JC063' '4993.02' '5065.10'
 '5636.13' '6700.01' '6233.05' '6173.08' '5721.14' '6157.04' '8320.01']

In [33]:
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E2E964A161F786AB,classic_bike,2023-08-07 19:37:47,2023-08-07 19:41:14,6 St & Grand St,HB302,Madison St & 10 St,HB503,40.744398,-74.034501,40.749943,-74.035865,member
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member
2,940FC7C675232897,classic_bike,2023-08-15 17:28:23,2023-08-15 17:50:35,Heights Elevator,JC059,Heights Elevator,JC059,40.748721,-74.040480,40.748716,-74.040443,member
3,E967660CC5CD585B,classic_bike,2023-08-01 12:44:24,2023-08-01 12:49:45,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735279,-74.046830,40.736068,-74.029127,member
4,D997CB0B855FE2D6,classic_bike,2023-08-08 12:31:16,2023-08-08 12:40:18,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735208,-74.046964,40.736068,-74.029127,member

In [34]:
print(df1.isnull().sum())
print(df2.isnull().sum())

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name        0
end_station_id          0
start_lat               0
start_lng               0
end_lat               120
end_lng               120
member_casual           0
dtype: int64
ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name       0
end_station_id         0
start_lat              0
start_lng              0
end_lat               37
end_lng               37
member_casual          0
dtype: int64

In [35]:
# Fill null values in end_station_name and end_station_id with "Unknown"
df1['end_lat'].fillna('Unknown', inplace=True)
df1['end_lng'].fillna('Unknown', inplace=True)

df2['end_lat'].fillna('Unknown', inplace=True)
df2['end_lng'].fillna('Unknown', inplace=True)

/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['end_lat'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1['end_lat'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['end_lng'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1['end_lng'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['end_lat'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2['end_lat'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['end_lng'].fillna('Unknown', inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_5559/1983478510.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2['end_lng'].fillna('Unknown', inplace=True)

In [37]:
# Check the size of each DataFrame
print("Size of df1:", df1.shape)
print("Size of df2:", df2.shape)

Size of df1: (112027, 13)
Size of df2: (106451, 13)

In [40]:
print(df1.dtypes)
print(df2.dtypes)

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                       object
end_lng                       object
member_casual                 object
dtype: object
ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat                object
end_lng                object
member_casual          object
dtype: object

In [41]:
# Convert the columns to datetime format
df1['started_at'] = pd.to_datetime(df1['started_at'], errors='coerce')
df1['ended_at'] = pd.to_datetime(df1['ended_at'], errors='coerce')

In [42]:
# Check if conversion was successful
print(df1.dtypes)

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                       object
end_lng                       object
member_casual                 object
dtype: object

In [43]:
# Extract only the date portion
df1['started_at'] = df1['started_at'].dt.date
df1['ended_at'] = df1['ended_at'].dt.date

In [50]:
# Display the updated DataFrame
print(df1.head())

            ride_id rideable_type  started_at    ended_at  \
0  E2E964A161F786AB  classic_bike  2023-08-07  2023-08-07
1  0660F2E48E3BB87F  classic_bike  2023-08-01  2023-08-01
2  940FC7C675232897  classic_bike  2023-08-15  2023-08-15
3  E967660CC5CD585B  classic_bike  2023-08-01  2023-08-01
4  D997CB0B855FE2D6  classic_bike  2023-08-08  2023-08-08

           start_station_name start_station_id  \
0             6 St & Grand St            HB302
1             6 St & Grand St            HB302
2            Heights Elevator            JC059
3  Hoboken Ave at Monmouth St            JC105
4  Hoboken Ave at Monmouth St            JC105

                          end_station_name end_station_id  start_lat  \
0                       Madison St & 10 St          HB503  40.744398
1                          6 St & Grand St          HB302  40.744398
2                         Heights Elevator          JC059  40.748721
3  Hoboken Terminal - River St & Hudson Pl          HB102  40.735279
4  Hoboken Terminal - River St & Hudson Pl          HB102  40.735208

   start_lng    end_lat    end_lng member_casual
0 -74.034501  40.749943 -74.035865        member
1 -74.034501  40.744398 -74.034501        member
2 -74.040480  40.748716 -74.040443        member
3 -74.046830  40.736068 -74.029127        member
4 -74.046964  40.736068 -74.029127        member

In [45]:
# Convert the columns to datetime format
df2['started_at'] = pd.to_datetime(df2['started_at'], errors='coerce')
df2['ended_at'] = pd.to_datetime(df2['ended_at'], errors='coerce')

In [48]:
# Display the updated DataFrame
# Extract only the date portion
df2['started_at'] = df2['started_at'].dt.date
df2['ended_at'] = df2['ended_at'].dt.date

In [51]:
print(df2.head())

            ride_id  rideable_type  started_at    ended_at  \
0  17AE31FCAE74D287  electric_bike  2024-08-07  2024-08-07
1  FD9859BDBE0CDF70  electric_bike  2024-08-13  2024-08-13
2  AAC5ECD095AE5572  electric_bike  2024-08-12  2024-08-12
3  857C4DCB2F29655B  electric_bike  2024-08-09  2024-08-09
4  4439657C244E7009   classic_bike  2024-08-01  2024-08-01

       start_station_name start_station_id end_station_name end_station_id  \
0        7 St & Monroe St            HB304  4 St & Grand St          HB301
1        7 St & Monroe St            HB304  4 St & Grand St          HB301
2        7 St & Monroe St            HB304  4 St & Grand St          HB301
3        7 St & Monroe St            HB304  4 St & Grand St          HB301
4  Clinton St & Newark St            HB409  4 St & Grand St          HB301

   start_lat  start_lng    end_lat    end_lng member_casual
0  40.746413 -74.037977  40.742258 -74.035111        member
1  40.746413 -74.037977  40.742258 -74.035111        member
2  40.746413 -74.037977  40.742258 -74.035111        member
3  40.746413 -74.037977  40.742258 -74.035111        member
4  40.737430 -74.035710  40.742258 -74.035111        member

In [52]:
# Concatenate the DataFrames
merged_df = pd.concat([df1, df2], ignore_index=True)

In [54]:
merged_df.shape

(218478, 13)

In [55]:
merged_df.to_csv('../Data/merged_city_bike_data.csv', index=False)